<p>app/views/tweets/create_tweet.erb</p>
<br>
<hr>
<h1>Create a Tweet</h1>
<form method="POST" action="/tweets">
  <label for "content">Tweet Content: </label>
  <textarea type="text" name="tweet[content]" id="content"></textarea>
  <br>
  <input type="submit" id="submit" name="submit" value="submit">
</form>
