<h1>Welcome to Fwitter</h1>
<h3>Flatiron Twitter</h3>
<p>app/tweets/tweets.erb</p>
<a href="/">Home</a>
<br>
<hr>
<h1>Welcome, <%= Helpers.current_user(session).username %></h1>
<h3>All your tweets</h3>
<br>
<hr>
<% @tweets.each do | tweet | %>
  <%= tweet.content %>
  <br>
<% end %>
