<p>app/views/user/create_user.erb</p>
<hr>
<h4>Sign Up for Travel Places!</h4>
<form method="POST" action='/signup'>
  <label for "username">Create a new User Name:</label>
  <input type="text" name="username" id="username">
  <br>
  <label for "email">Email: </label>
  <input type="email" name="email" id="email">
  <br>
  <label for "email">Password: </label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="Sign Up">
</form>
