<p>app/views/users/user_tweets.erb</p>
<a href="/">Home</a>
<br>
<a href="/logout">Log Out</a>
<br>
<a href="/tweets/new">Create a Tweet</a>
<br>
<hr>
<h1>Tweets from <%= @user.username %></h1>
<ol style="list-style:none">
<% @user.tweets.each do | tweet | %>
  <li>
    <%= tweet.content %>
  </li>
<% end %>
</ol>
<hr>
