<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter</h1>
    <h3>Flatiron Twitter</h3>
    <a href="/">Home</a>
    <br>
    <a href="/logout">Log Out</a>
    <br>
    <hr>
    <%= yield %>
  </body>
</html>
