<!DOCTYPE html>
<html>
  <head>
    <title>Travel Places</title>
  </head>
  <body>
    <h1>Welcome to Travel Places!</h1>
    <% if Helpers.is_logged_in?(session) %>
      <h3>Username: <%= Helpers.current_user(session).username %>  </h3>
      <p>Email: <%= Helpers.current_user(session).email %></p>
      <a href="/users/<%= Helpers.current_user(session).id %>">My Home Page</a>
      <br>
      <a href="/logout">Log Out</a>
      <br>
    <% end %>
    <a href="/">Home</a>
    <br>
    <% if Helpers.is_logged_in?(session) %>
    <% else %>
      <a href="/signup">Sign Up</a>
      <br>
      <a href="/login">Log In</a>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
