<h1>Welcome to Fwitter</h1>
<h3>Flatiron Twitter</h3>
<p>app/views/signup.erb</p>
<a href="/index">Home</a>
<br>
<hr>
<h4>Sign up for Fwitter</h4>
<form method="POST" action='/signup'>
  <label for "f_name">First Name:</label>
  <input type="text" name="f_name" id="f_name">
  <br>
  <label for "l_name">Last Name:</label>
  <input type="text" name="l_name" id="l_name">
  <br>
  <label for "email">Email: </label>
  <input type="email" name="email" id="email">
  <br>
  <label for "email">Password: </label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="Sign Up">
</form>
